#gradle
#.gradle

#idea
/.idea

#mac defult file
.DS_Store

#build
/build


/captures

#properties
/local.properties

DocRelation.iml

*.iml

#/libs
#libs/
src/main/res/drawable/
.gradle/3.3/tasks/_base_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_baseadapter-recyclerview_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_baseadapter-recyclerview_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_baseadapter-recyclerview_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_develop_settings_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_develop_settings_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_develop_settings_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_playerskin_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_playerskin_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_playerskin_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_retrofit_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_retrofit_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_retrofit_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_util_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_util_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_util_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_xywy-datarequest-library_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_xywy-datarequest-library_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_xywy-datarequest-library_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_xywy-ui-library_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_xywy-ui-library_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_xywy-ui-library_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/*
uimodules/build/*
