/.idea
/android_common.iml
/xywy_android_common.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/Component.iml
/captures
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
/gradle
android_common.iml
app/app.iml
datarequest/datarequest.iml
uimodules/build/
baseadapter-recyclerview/baseadapter-recyclerview.iml
xywy-ui-library/xywy-ui-library.iml
